<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Please verify your account by clicking the link below.</p>
        <br>
        <p>Verification link is <a href={{verification_link}}>{{verification_link}}</a> </p>
    </body>
</html>